.login {
  background-color: black;
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > img {
  width: 100%;
}

.login > a {
  color: white;
  text-transform: uppercase;
  background-color: var(--spotify-green);
  padding: 20px;
  border-radius: 55px;
  font-weight: 800;
  text-decoration: none;
}
